body {margin:0}
/***********************************Annolet sticky container styling**********************************/
#annolet-sticky-container {
    position: fixed !important;
    width: 56px !important;
    top: 29% !important;
    left: 0% !important;
    background-color: #555 !important;
    border-radius: 0px 12px 12px 0px !important;
    border: 2px solid #000000 !important;
    box-shadow: -2px 0px 5px 8px grey !important;
    z-index: 9999 !important;
}
/**********************************Annolet GUI elements styling****************************************/
#annolet-elems {
    width: 54px !important;
    padding: 2px !important;
    margin: 0 auto !important;
}

#annolet-elems li {
    list-style: none !important;
    border: 2px solid white !important;
    border-radius: 0px 8px 8px 0px !important;
}

#annolet-elems li:hover {
    background-color: white !important;
    border: 2px solid grey !important;
    cursor: pointer !important;
}

#struct-elem {
    background-color: #f39c9c !important;
}

#struct_icon {
    width: 48px !important;
}

#style-elem {
    background-color: #7575c3 !important;
}

#style_icon {
    width: 48px !important;
}

#semantic-elem {
    background-color: orange !important;
}

#semantic_icon {
    width: 48px !important;
}

#save-elem {
    background-color: #cff099 !important;
    text-align: center !important;
}

#save_icon {
    font-size: 368% !important;
    color: black !important;
}
/*************************************Annolet GUI tooltip styling*************************************/
/* Tooltip container */
.anno-gui-tooltip-container {
    position: relative !important;
   /* display: inline-block;*/
}

/* Tooltip text container*/
.anno-gui-tooltip-container .anno-gui-tooltiptext-container {
    visibility: hidden !important;
    width: 140px !important;
    background-color: darkgrey !important;
    color: #fff !important;
    text-align: center !important;
    border-radius: 6px !important;
    padding: 12px 10px 12px 10px !important;
    position: absolute !important;
    z-index: 9999 !important;
    top: -14px !important;
    left: 140% !important;
}

/* Arrow for the "tooltip text container" */
.anno-gui-tooltip-container .anno-gui-tooltiptext-container::after {
    content: "";
    position: absolute !important;
    top: 50% !important;
    right: 100% !important;
    margin-top: -16px !important;
    border-width: 15px !important;
    border-style: solid !important;
    border-color: transparent darkgrey transparent transparent !important;
}
/*Tooltip text*/
.anno-gui-tooltiptext {
    background-color: #d4a6a6 !important;
    color: black !important;
    border-radius: 5px !important;
    padding: 7px 7px 7px 7px !important;
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif !important !important;
    font-size: 100% !important;
    margin: inherit !important;
}

/* Show the "tooltip text container" when you mouse over the "tooltip container" */
.anno-gui-tooltip-container:hover .anno-gui-tooltiptext-container {
    visibility: visible !important;
}
/*********************************************Form styling*****************************************/
#renform-container {
    position: absolute !important;
    top: 20%;
    left: 35%;
    width: 648px !important;
    border: 2px solid grey !important;
    border-radius: 18px 18px 18px 18px !important;
    background-color: black !important;
    color: white !important;
    z-index: 9999 !important;
    display: none;
    font-family: Arial, Helvetica, sans-serif !important;
}

#renform {
    padding: 35px !important;
    cursor: move !important;
}

#renform-cancelatn-container {
    text-align: right !important;
}

#renform-cncl-btn {
    font-size: 104% !important;
    cursor: pointer !important;
}
 
#renform-header {
    color: white !important;
    text-align: center !important;
    font-size: 120% !important;
    font-weight: bold !important;
}

.renform-labels {
    font-size: 100% !important;
    color: white !important;
}

.options-list {
    font-size: 100% !important
}

.options-list, .inputbox{
    color: black !important;
}

.renform-btn {
    color: black !important;
    font-size: 100% !important;
    cursor: pointer !important;
}

/**************************************Elements locator ToolTip styling******************************/
#tooltip-container {
    background-color: black;
    display: inline-block;
    border: 4px solid grey;
    border-radius: 9px;
    padding: 9px 18px 11px 20px;
    display: none;
    z-index: 9999 !important;
    /* Prevent text selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#select_node {
    color: black !important;
    font-weight: bold !important;
}   
