{% extends "template.html" %}
{% block head %}
<script type="text/javascript">
function wget() {
  console.log('wget called');
  var url = document.getElementById("input-url").value;
  if(!url.match(/http/)) {
    url = 'http://' + url;
  }
  window.open("http://127.0.0.1:8080/openpage?foruri=" + encodeURIComponent(url));
}
</script>
{% endblock %}
{% block body %}
{% if 'username' in session %}
  <h4 class="text-success text-right" >Welcome! to  renarrate a page. You are logged in as {{ username }}</h4>
  <p class="text-success text-right" >Click <a href="/logout">here</a> to logout</p>
  <div>
    <form id="urlform" class="form-horizontal" role="form" onload="form.reset();">
      <div class="form-group">
	      {{ form.url.label( for="url", class="col-xs-4 control-label" ) }}
        <div class="col-xs-4">
          {{ form.url( class="form-control", id="input-url", placeholder="Enter url" )}}
	      </div>
      </div>
	    <div class="form-group">
	      <div class="col-xs-offset-5 col-xs-9">
	        {{ form.submit( class="btn btn-primary", id="btn-submit", onClick="wget();") }}
	        <input type="reset" class="btn btn-primary" id="url_input_box" /><br/><br/>
        </div>
      </div>
    </form>
  </div>
{% endif %}
{% endblock %}
