{% extends "template.html" %}
{% block body %}

<div id="loginbox" style="margin-top:0px;width:40%;margin:auto;" class="mainbox">
    <div class="panel panel-info" style="border-color: #000080;">

        <div class="panel-heading" style="background-color: #000080;border-color: #000080;color: white;">
            <div class="panel-title">Sign In</div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#" style="color:white;">Forgot password?</a></div>
        </div>     

        <div style="padding-top:30px" class="panel-body" >
            <form id="loginform" class="form-horizontal" role="form" method="post" action="/login" onload="form.reset();">
                {{ form.csrf_token }}
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    {{ form.username( class="form-control", id="login-username", placeholder="username or email" )}}               
                </div>
                {% for message in form.username.errors %}
                    <div class="text-danger" >{{ message }}</div>
                {% endfor %} 
                            
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form.password( class="form-control", id="login-password", placeholder="password" )}}
                </div>
                {% for message in form.password.errors %}
                    <div class="text-danger" >{{ message }}</div>
                {% endfor %}
             
                <div class="input-group">
                    <div class="checkbox">
                        <label>
                            <input id="login-remember" type="checkbox" name="remember" value="1">
                            Remember me
                        </label>
                    </div>
                </div>

                <div style="margin-top:10px" class="form-group">
                    <div class="col-xs-12 controls">
                        <span class="glyphicon glyphicon-log-in" ></span>
                        {{ form.login( class="btn btn-primary", id="btn-login" )}}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                            Don't have an account! 
                            <a href="/register">
                            Sign Up Here
                            </a>
                        </div>
                    </div>
                </div>    
            </form>
            {% if error %}
                <div class = "alert alert-danger">{{ error }}</div>
            {% endif %}
        </div>
    </div>  
</div>

{% endblock %}
