{% extends "template.html" %}
{% block body %}
<div id="signupbox" style="margin-top:0px;width:40%;margin:auto;" class="mainbox">
    <div class="panel panel-info" style="border-color: #000080;">
        <div class="panel-heading" style="background-color: #000080;border-color: #000080;color: white;">
            <div class="panel-title">Sign Up</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/" style="color:white;">Sign In</a></div>
        </div>  
        
        <div class="panel-body" >
            <form id="signupform" class="form-horizontal" role="form" method="post" action="/register" onload="form.reset();">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.username.label( for="username", class="col-xs-3 control-label") }}
                <div class="col-xs-9">
                    {{ form.username( class="form-control", id="username", placeholder="UserName" )}}
                    {% for message in form.username.errors %}
                        <div class="text-danger" >{{ message }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                {{ form.userid.label( for="userid", class="col-xs-3 control-label") }}
                <div class="col-xs-9">
                    {{ form.userid( class="form-control", id="userid", placeholder="UserId" )}}
                    {% for message in form.userid.errors %}
                        <div class="text-danger" >{{ message }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                {{ form.usertype.label( for="usertype", class="col-xs-3 control-label") }}
                <div class="col-xs-9">
                    {{ form.usertype( class="form-control", id="usertype")}}
                </div>
            </div>

            <div class="form-group">
                {{ form.email.label( for="email", class="col-xs-3 control-label") }}
                <div class="col-xs-9">
                    {{ form.email( class="form-control", id="email", placeholder="yourname@gmail.com" )}}
                    {% for message in form.email.errors %}
                        <div class="text-danger" >{{ message }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                {{ form.communityname.label( for="communityname", class="col-xs-3 control-label" ) }}
                <div class="col-xs-9">
                    {{ form.communityname( class="form-control", id="cmntyname", placeholder="CommunityName" )}}
                    {% for message in form.communityname.errors %}
                        <div class="text-danger" >{{ message }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                {{ form.communityid.label( for="communityid", class="col-xs-3 control-label" ) }}
                <div class="col-xs-9">
                    {{ form.communityid( class="form-control", id="cmntyid", placeholder="CommunityId" )}}
                    {% for message in form.communityid.errors %}
                        <div class="text-danger" >{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
              
            <div class="form-group">
                {{ form.password.label( for="password", class="col-xs-3 control-label" ) }}
                <div class="col-xs-9">
                    {{ form.password( class="form-control", id="pwd", placeholder="Password" )}}
                    {% for message in form.password.errors %}
                        <div class="text-danger" >{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
                                    

            <div class="form-group">                                       
                <div class="col-md-offset-3 col-md-9">
                    {{ form.signup( class="btn btn-primary", id="btn-signup" )}}
                </div>
            </div>
            </form>
            {% if error %}
                <div class="alert alert-danger" >{{ error }}</div>
            {% endif %}
        </div>
    </div>
</div> 
{% endblock %}
