{% extends "template.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'sss-renderer.css') }}">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
{% endblock %}

{% block body %}
<div id="container">
    <ul id="sss-list" ><ul>
</div>

<script type="text/javascript">
    var event_list = {{ sss_event_list|tojson }};
    var html_list = []
    var list_num = 1;
    
    getPages()
    function getPages() {
        for(var i = 0; i<event_list.length; i++){
            if(event_list[i]["modify"]){
                html_content = event_list[i]["modify"]["modified_page"];
                html_list.push(html_content)
                var sssList = document.getElementById("sss-list");
                var sssListItem = document.createElement("li");
                var sssListValue = document.createTextNode("Modified Page"+list_num);
                sssListItem.id = i;
                sssListItem.addEventListener("click", function(e){
                    openPage(e)
                }, false);
                sssListItem.appendChild(sssListValue);
                sssList.appendChild(sssListItem);
                list_num++;
            }
        }
    }

    function openPage(e) {
        var wnd = window.open("", "", "width=300, height=200");
        wnd.document.write(html_list[e.target.id]);
    }

</script>

{% endblock %}
