{% extends "template.html" %}
{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
       {% for message in messages %}
          <h3 id="success_page" > {{ message }} <a href="/">Signin</a> to renarrate a webpage </h3>
       {% endfor %}
     {% endif %}
{% endwith %}

<!-- <h4 id="success_page" >Welcome you are successfully registered.<a href="/">Signin</a> to view the NPTEL renarration.</h4> -->
{% endblock %}
