<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sss-maker</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'template.css') }}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block head %} {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <div class="container-fluid bg-2 text-center">
          <h3>SSS Maker Studio</h3>
          <div class="text-right"><a href="/" id="home" >Home</a></div>
      	</div>
      </header>
      <div class="jumbotron">
        <h3 id="renderer-header">sss-maker</h3>
        <p id="overview">Text comes here....</p>
      </div>
      {% block body %}{% endblock %}
      <!-- Footer -->
      <footer class="text-center">
        <p>Posted by: </p>
        <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
      </footer>
    </div>
    {% block script %} {% endblock %}
  </body>
</html>
