h2{
    text-align:center;
    color:darkblue;
    font-family:Arial;
    background: lightgrey;
    width: 98%;
    padding: 1%;
    position: relative;
    top:-10%
}
#player{
    width : 55%;
    height : 450px;
    position: relative;
    left: 22%;
}
#flow-control{
    background:black;
    width:55.3%;
    position: relative;
    left: 22%;
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#next {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

#next:hover {
    background-color: #4CAF50;
    color: white;
}

#previous {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

#previous:hover {
    background-color: #008CBA;
    color: white;
}

#last {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

#last:hover {
    background-color: #f44336;
    color: white;
}

#sss-list {
    padding: 82px;
}

#sss-list li {
    list-style-type: none;
    text-align: center;
    font-size: 150%;
    color: #0494cf;
}

#sss-list li:hover {
    cursor: pointer;
    color: green;
}