    header{
        background-color: #474e5d; 
	color: #ffffff;
    }
    #home{
	color: #ffffff;
    }
    #renderer-header{
        font-family: Arial, Helvetica, sans-serif;
        color: #000080;
    }
    #overview{
        font-size: 130%;
    }
    footer {
        background-color: #474e5d;
        color: #f5f5f5;
        padding: 32px;
    }
    footer a {
        color: #f5f5f5;
    }
    footer a:hover {
        color: #777;
        text-decoration: none;
    }
    #reg_header{
        font-family: "Times New Roman", Georgia, Serif;
        text-align: center;
        color: #000080;
    }
    #reg-form{
        /*text-align: center;*/
        margin-left: 26%;  
    }
    #success_page{
        color: #000080;
        padding: 9%;
        text-align: center;
    }
    #urlform{
        padding: 7%;
    }